body, ul, li, a{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    font-family: 'metropolis';
    src: url('../../assets/fonts/metropolis-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    color: rgb(99, 98, 98);
}

h1,h2,h3,h4,h5,h6{
    padding: 0;
    margin: 0;
}

p{
    margin:.5em;
}

@font-face {
    font-family: 'metropolis';
    src: url('../../assets/fonts/metropolis-regular-webfont.woff') format('woff');    
  }

nav{
    position: sticky;
    top: 0;
    z-index: 10;
    background: #f3f2f2;
    display: flex;         
    height: 8vh;
    align-items: center;
}

nav ul{
    padding: 15px 30px;
}

nav li{
    display: inline;
    padding: 5px 10px;
}

.mobile{
    display: none;
}

@media (max-width: 650px){
    nav li{
        display: none;
    }
    .card{
        width: auto !important;
    }

    .mobile{
        display: block;
        padding: 0px 10px;
    }
    nav{
        position: relative;
    }

    nav ul{
        position: absolute;
        top: 50px;
        background: #e4e4e4;
        padding: 0;
        width: 100%;
        box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
        -webkit-box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
        -moz-box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
    }

    nav ul.activate li{
        display: block;
        padding: 10px 25px;
        margin: 0 !important;        
    }

    nav ul li:nth-child(even){
        background: rgb(240, 239, 239);
    }

    .activate {
        -webkit-animation: activate 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: activate 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }

    
@-webkit-keyframes activate {
    0% {
        -webkit-transform: translateY(-1000px);
        transform: translateY(-1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
  }
  @keyframes activate {
    0% {
        -webkit-transform: translateY(-1000px);
        transform: translateY(-1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
  }
  
    nav li.active{
        border-bottom: 0 !important;
    }
}

nav li.nav-logo{
    margin-right: 20px;
}

nav li.nav-logo{
    border-bottom: 2px solid rgba(99, 98, 98, 0.822);
}

.nav-logo a{
    font-weight: 900;
}

.container{
    width: 90%;
    margin: 0 auto;          
}

.container section:first-of-type{
    height: 92vh;    
}

.align-items-center{
    align-items: center;
}

.w-35{
    width: 35vw;
}

.w-65{
    width: 65vw;
}

.mt-10{
    margin-top: 10px;
}

.d-flex{
    display: flex;
}

.shadow{
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
    -webkit-box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
    -moz-box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
}

.justify-content-center{
    justify-content: center;
}

.direction-column{
    flex-direction: column;
}

.p-10{
    padding: 10px;
}

.p-20{
    padding: 20px !important;
}

.card{
    border: 1px solid #eaeaeaad;
    border-radius: 5px;
    width: 400px;
    min-width: 300px;    
}

.header{
    letter-spacing: 1px;
    font-weight: 900;
}

.card .header-card, .body-card{
    padding: 15px;
}

.card .header-card{
    background: #eaeaeaad;
}

.fluid{
    width: 100%;
}

.form-row{
    padding: 0 5px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.map {            
    height: 100%;
    width: 100%;
    max-height: 40vh;
}

.d-none{
    display: none !important;
}

input.form-field{
    border: none;
    border-bottom: 1px solid rgba(177, 172, 172, 0.795);
    padding: 8px 5px;
    font-size: 18px;
}

.btn{
    width: fit-content;
    padding: 10px 20px;
    border-radius: 5px;
    background: rgb(201, 201, 202);
    color: white;
    font-weight: 600;
    transition: .3s;
}

.btn:hover{
    background: rgb(77, 99, 196) !important;    
    color: white;
    transition: .3s;
    cursor: pointer;
}

.alert{
    border: 1px solid;
    border-radius: 10px;
    padding: 10px;
}

.error{
    color: #9f3a38;
    border-color: rgb(218, 63, 63);
    background: #fff6f6;
    margin-bottom: 15px;
}




/* KEY FRAMES - ANIMATION */
.shake-horizontal {
	-webkit-animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}
 @-webkit-keyframes shake-horizontal {
    0%,
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70% {
      -webkit-transform: translateX(-10px);
              transform: translateX(-10px);
    }
    20%,
    40%,
    60% {
      -webkit-transform: translateX(10px);
              transform: translateX(10px);
    }
    80% {
      -webkit-transform: translateX(8px);
              transform: translateX(8px);
    }
    90% {
      -webkit-transform: translateX(-8px);
              transform: translateX(-8px);
    }
  }
  @keyframes shake-horizontal {
    0%,
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70% {
      -webkit-transform: translateX(-10px);
              transform: translateX(-10px);
    }
    20%,
    40%,
    60% {
      -webkit-transform: translateX(10px);
              transform: translateX(10px);
    }
    80% {
      -webkit-transform: translateX(8px);
              transform: translateX(8px);
    }
    90% {
      -webkit-transform: translateX(-8px);
              transform: translateX(-8px);
    }
  }
  